.about-us {
	padding-top: 130px;
	padding-left: 0;
	background-color: $white;
	@include desktop_small {
		padding-left: 0;
	}

	.about-us__text-container {
		padding-right: 100px;
		display: grid;
		grid-template-columns: 1fr 0.5fr 0.5fr;
		gap: 40px;
		align-items: end;
		padding-bottom: 120px;
		padding-left: 210px;
		@include desktop {
			grid-template-columns: 1fr;
		}
		@include tablet {
			margin-left: 0;
			gap: 12px;
			padding-bottom: 32px;
			padding-left: 20px;
			padding-right: 20px;
		}

		h2 {
			margin-bottom: 68px;
			@include tablet {
				@include medium-24;
				margin-bottom: 40px;
			}
		}

		p {
			color: $gray70;
			@include regular-18;
			max-width: 677px;
			@include tablet {
				@include regular-16;
			}
		}

		.btn {
			margin-top: 48px;
			@include tablet {
				margin-top: 32px;
			}
			@include mobile {
				width: 100%;
			}
		}

		.about-us__numbers {
			max-width: 373px;
			span {
				color: $blue50;
				@include bold-106;
				@include tablet {
					@include bold-70;
				}

				&:after {
					content: '+';
					vertical-align: super;
				}
			}
		}
	}
	.about-us__photo {
		margin-left: 110px;
		position: relative;
		@include desktop {
			padding-bottom: 120px;
		}
		@include tablet {
			margin-left: 0;
			padding-bottom: 140px;
		}
		img {
			width: 100%;
			height: 100%;
		}

		.swiper-slide {
			p {
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 2;
				width: 50%;
				display: flex;
				align-items: center;
				color: $gray70;
					@include regular-18;
					@include tablet {
						@include regular-16;
					}
			}
		}

		.about-us__photo-description {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 60px 12% 60px 4%;
			background-color: $white;
			z-index: 2;
			width: 50%;
			display: flex;
			align-items: center;
			@include desktop {
				width: 100%;
				padding: 24px 12% 24px 4%;
				height: 140px;
			}
			p {
				color: $gray70;
				@include regular-18;
				@include tablet {
					@include regular-16;
				}
			}
		}

		.swiper-button-prev {
			top: unset !important;
			bottom: 65px !important;
			left: 41% !important;
			@include desktop {
				bottom: 47px !important;
				left: 85% !important;
			}
			@include tablet {
				display: none;
			}
		}

		.swiper-button-next {
			top: unset !important;
			bottom: 74px !important;
			left: 46% !important;
			@include desktop {
				bottom: 57px !important;
				left: 91% !important;
			}
			@include tablet {
				display: none;
			}
		}

		.swiper-pagination {
			@include min_tablet {
				display: none;
			}
		}

		.swiper-pagination-bullet-active {
			width: 47px;
			border-radius: 4px;
		}
	}

}
