.aside-banner {
	background-image: url(@images/aside-banner-background.png);
	padding: 48px 52px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: sticky;
	top: 0;

	@include tablet {
		padding: 20px 24px;
	}

	p {
		@include medium-20;
		color: $white;
	}

	h3 {
		@include medium-24;
		color: $white;

		@include tablet {
			@include medium-18;
		}
	}

	.link {
		width: fit-content;
		@include regular-16;
		margin-top: 20px;

		&:after {
			margin-left: 14px;
			content: url(@icons/long-arrow-white.svg)
		}
	}
}
