.benefits {
	padding-top: 140px;
	// .benefits__backgrounds {
	// 	position: absolute;
	// 	img {
	// 		display: none;
	// 	}
	// 	.active {
	// 		display: block;
	// 	}
	// }
	.benefits__cards {
		background-image: url(@images/benefits-background-1.png);
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		margin-top: 80px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
		"card-1 . . card-2"
		"card-3 card-4 . card-5";
		.benefits__card {
			background: $white;
			border: solid 1px $gray10;
			padding: 48px;
			.benefits__background {
				position: absolute;
				top:0;
				left: 300px;
				display: none;
				&_active {
					display: block;
				}
			}
			h3 {
				@include medium-18;
				color: $gray90;
				margin-bottom: 32px;
			}

			p {
				color: $gray70;
			}

			&:nth-child(1) {
				grid-area: card-1;
			}
			&:nth-child(2) {
				grid-area: card-2;
			}
			&:nth-child(3) {
				grid-area: card-3;
			}
			&:nth-child(4) {
				grid-area: card-4;
			}
			&:nth-child(5) {
				grid-area: card-5;
			}
			&_active {
				h3 {
					color: $blue50;
				}
			}
		}
	}
}
