.bottom-bar {
	display: none;
	position: absolute;
	bottom: -4.5em;
	background-color: $blue50;
	width: 100%;
	height: 4.5em;
	align-items: center;
	justify-content: flex-end;
	@include tablet {
		display: flex;
	}

	.link {
		display: block;
		width: 72px;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto;
	}

	.btn {
		padding: 0;
		height: 100%;
		width: 72px;
		background-image: url(@icons/burger-white.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto;
		background-color: transparent;
	}
}
