.course {
	display: grid;
	grid-template-columns: 1fr 572px;
	grid-template-areas:
	 "directory right-bar"
	 "search right-bar"
	 "cards right-bar"
	 "text-content right-bar";
	@include desktop_medium {
		display: block;
		padding-top: 60px;
		padding-right: 100px;
		background-color: $white;
	}

	.directory {
		margin-top: 100px;
		grid-area: directory;
		@include desktop_medium {
			margin-top: 0;
		}
	}

	&__sticky-container {
		position: sticky;
		top: 52px;
	}

	&__right-bar {
		grid-area: right-bar;
		background-color: $white;
		margin-left: 100px;
		@include desktop_medium  {
			margin-left: 0;
			.aside-banner {
				display: none;
			}
		}
		@include tablet {
			margin-top: 32px;
			margin-left: 0;
			margin-right: 0;
		}
	}

	&__filters {
		margin: 52px 25px;
		@include desktop_medium {
			margin: 52px 0;
		}
		@include tablet {
			margin: 32px 0;
		}
		.accordion__toggle {
			height: 40px;
			border-bottom: solid 1px $gray30;
		}
		h4 {
			@include medium-16;
			color: $gray90;
		}
		.accordion-icon {
			visibility: visible !important;
			background-image: url(../files/icons/chevron-down_black.svg) !important;
		}
		.accordion__content {
			ul {
				@include medium-14;
				color: $gray60;
				margin: 20px 30px;
				display: flex;
				flex-direction: column;
				gap: 12px;
			}
		}
	}

	&__card:nth-child(1n + 6) {
		display: none;
	}

	&__cards {
		grid-area: cards;
		margin-top: 60px;
		margin-bottom: 140px;
		@include desktop_medium  {
			margin-top: 32px;
		}
		@include tablet {
			margin-right: 0;
			margin-bottom: 60px;
		}

		&.active .courses__card {
			&:nth-child(1n + 6) {
				display: flex;
			}
		}
	}

	&__more a {
		display: inline-block;
		margin-top: 32px;
		text-align: center;

		@include mobile {
			width: 100%;
			margin-top: 32px;
		}
	}


}

