.courses {
	padding-top: 140px;
	display: grid;
	grid-template-columns: 1fr 572px;
	grid-template-areas:
	 "search search"
	 "cards right-bar";
	@include desktop {
		display: block;
		padding-top: 60px;
		background-color: $white;
	}

	.search-bar {
		grid-area: search;
		width: calc(100% - 100px);
		margin-top: unset;
		@include tablet {
			width: 100%;
			margin: 0;
		}

		input::placeholder {
			color: $gray70;
		}
	}

	&__right-bar {
		grid-area: right-bar;
		background-color: $white;
		margin-top: 60px;
		margin-left: 100px;
		@include desktop {
			margin-top: 32px;
			margin-left: 0;
			margin-right: 100px;
		}
		@include tablet {
			margin-top: 32px;
			margin-left: 0;
			margin-right: 0;
		}
	}

	&__card:nth-child(1n + 6) {
		display: none;
	}

	&__cards {
		grid-area: cards;
		margin-top: 60px;
		margin-bottom: 140px;
		@include desktop {
			margin-right: 100px;
			margin-top: 32px;
		}
		@include tablet {
			margin-right: 0;
			margin-bottom: 60px;
		}

		&.active .courses__card {
			&:nth-child(1n + 6) {
				display: flex;
			}
		}
	}

	&__more a {
		display: inline-block;
		margin-top: 32px;
		text-align: center;

		@include mobile {
			width: 100%;
			margin-top: 32px;
		}
	}
}
