.course {
	display: grid;
	grid-template-columns: 1fr 572px;
	grid-template-areas:
	 "directory right-bar"
	 "search right-bar"
	 "cards right-bar"
	 "text-content right-bar";
	@include desktop_medium {
		display: block;
		padding-top: 60px;
		padding-right: 100px;
		background-color: $white;
	}

	.directory {
		margin-top: 100px;
		grid-area: directory;
		@include desktop_medium {
			margin-top: 0;
		}
	}

	&__right-bar {
		grid-area: right-bar;
		background-color: $white;
		margin-left: 100px;
		@include desktop_medium  {
			margin-left: 0;
			.aside-banner {
				display: none;
			}
		}
		@include tablet {
			margin-top: 32px;
			margin-left: 0;
			margin-right: 0;
		}

		.sticky-container {
			position: sticky;
			top: 52px;
			border-bottom: solid 1px $gray10;

			.manager {
				padding: 32px 51px;
				border-top: solid 1px $gray10;
				display: grid;
				column-gap: 20px;
				row-gap: 4px;
				grid-template-columns: 66px 1fr;
				grid-template-rows: 42px 1fr;
				grid-template-areas:
					"image name"
					"image phone";
				@include tablet {
					display: none;
				}
				img {
					grid-area: image;
				}
				span {
					grid-area: name;
					max-height: 42px;
					@include regular-16;
					color: $gray50;
				}
				a {
					grid-area: phone;
					@include medium-16;
					color: $gray90;
				}
			}

			.order {
				padding: 32px 48px;
				display: flex;
				flex-direction: column;
				gap: 8px;
				border-top: solid 1px $gray10;
				border-bottom: solid 1px $gray10;
				@include medium-16;
				span:last-of-type {
					@include regular-14;
					color: $gray50;
				}
				@include tablet {
					display: none;
				}
			}

			.btn_blue-border {
				padding: 1.5em 2.25em;
				margin: 32px 48px;
				@include tablet {
					display: none;
				}
				.children:before {
					content: '';
					width: 16px;
					height: 16px;
					margin-right: 16px;
					background-image: url(@icons/download-blue.svg);
					background-repeat: no-repeat;
					background-size: contain;
					transition: all $transitionDuration;
				}
				&:hover {
					.children:before {
						background-image: url(@icons/download-white.svg);
					}
				}
			}
		}
	}

	&__card:nth-child(1n + 6) {
		display: none;
	}

	&__cards {
		grid-area: cards;
		margin-top: 60px;
		margin-bottom: 140px;
		@include desktop_medium  {
			margin-top: 32px;
		}
		@include tablet {
			margin-right: 0;
			margin-bottom: 60px;
		}

		&.active .courses__card {
			&:nth-child(1n + 6) {
				display: flex;
			}
		}
	}

	&__more a {
		display: inline-block;
		margin-top: 32px;
		text-align: center;

		@include mobile {
			width: 100%;
			margin-top: 32px;
		}
	}


}

