.favorites__card {
	padding: 48px;
	min-height: 220px;
	border-bottom: solid 1px $gray10;
	background-color: $white;
	transition: background-color $transitionDuration;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"title old-price"
		"title new-price"
		"tags buttons";
	@include desktop {
		border: none;
	}
	@include tablet {
		height: unset;
		padding: 24px;
		display: flex;
		flex-direction: column;
	}

	h3 {
		grid-area: title;
		@include medium-18;
		transition: color $transitionDuration;

		@include tablet {
			@include medium-18;
			margin-bottom: 24px;
		}
	}

	.favorites__tags {
		grid-area: tags;
		display: flex;
		align-items: end;
		flex-wrap: wrap;
		gap: 8px;
		margin-top: 10px;
		@include tablet {
			margin-bottom: 24px;
		}
		 span {
			display: block;
			width: fit-content;
			height: 26px;
			padding: 4px 12px;
			background-color: $blue04;
			color: $blue60;
			transition: all $transitionDuration;
			@include regular-14;
		 }
	}

	.favorites__old-price {
		grid-area: old-price;
		text-decoration: line-through;
		color: $gray40;
		text-align: end;
		align-self: flex-end;
		transition: color $transitionDuration;
		height: 21px;
		@include 	regular-16;
		@include tablet {
			@include regular-16;
			align-self: flex-start;
			margin-bottom: 4px;
		}
	}

	.favorites__new-price {
		grid-area: new-price;
		color: $black;
		text-align: end;
		transition: color $transitionDuration;
		align-self: flex-start;
		@include 	regular-24;
		@include tablet {
			@include regular-24;
			text-align: start;
			margin-bottom: 24px;
		}
	}

	.favorites__card-buttons {
		grid-area: buttons;
		display: flex;
		gap: 12px;
		justify-content: flex-end;
		align-self: flex-end;
		@include mobile {
			width: 100%;
		}
		.btn {
			height: 40px;
			@include regular-12;
			@include mobile {
				width: 50%;
			}
		}
	}
}
