.feedback {
	&__text {
		h3 {
			@include medium-24;
			line-height: 1.3;
			margin-bottom: 20px;
		}

		p {
			@include medium-18;
			line-height: 1.3;
			margin-bottom: 40px;
			color: $gray60;
		}
	}
}