footer {
	width: 100%;
	background: $gray90;
	position: absolute;
	bottom: 0;

	.container {
		padding: 5em 0 2.125em 0;
		@include tablet {
			padding: 3.75em 1.25em 1.5em 1.25em;
		}

		.footer__columns {
			display: flex;
			justify-content: space-between;
			gap: 2.5em;
			padding: 0 6.25em 5em 13.125em;
			border-bottom: solid 0.0625em rgba(255, 255, 255, 0.2);
			@include tablet {
				flex-direction: column;
				padding: 0 0 1.25em 0;
			}

			.footer__column {
				display: flex;
				flex-direction: column;
				gap: 0.75em;

				span {
					@include regular-24;
					color: $white;
					margin-bottom: 0.25em;
				}

				.footer__social {
					margin-top: 0.25em;
					gap: 1em;
					display: flex;
				}
			}
		}

		.footer__bottom {
			display: flex;
			gap: 2.5em;
			justify-content: space-between;
			padding: 2.125em 6.25em 0 13.125em;
			@include tablet {
				padding: 1.25em 0 0 0;
				margin: 0 auto;
				flex-direction: column;
				gap: 1em;
			}

			span {
				color: $gray30;
				@include regular-18;
			}

			.link {
				@include regular-18;
			}
		}
	}
}
