.header {
	z-index: 10;
	background-color: transparent;
	border-bottom: solid 0.0625em rgba(255, 255, 255, 0.2);
	height: 110px;
	@include tablet {
		backdrop-filter: blur(20px);
	}
	@include mobile {
		height: 80px;
	}

	.container {
		margin: 0;
	}

	.logo {
		height: max-content;
		position: relative;
		z-index: 9;
	}

	nav > ul {
		display: flex;
	}

	.top-bar {
		height: 100%;
		display: flex;
		gap: 2.5em;
		justify-content: space-between;
		align-items: center;
		@include mobile {
			gap: 1.5em;
		}

		nav {
			display: flex;
			gap: 3.75em;
			@include desktop_large {
				display: none;
			}

			& > ul {
				align-items: center;
				gap: 2.5em;
			}
		}

		.btn {
			height: 100%;
			display: flex;
			align-items: center;
			@include regular-14-uppercase;
			@include desktop_huge {
				display: none;
			}
		}
	}
}
