.left-bar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 110px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	padding-bottom: 3.75em;
	border-right: solid 0.0625em rgba(255, 255, 255, 0.2);
	// backdrop-filter: blur(20px);
	background-color: $gray80;
	z-index: 10;
	@include tablet {
		visibility: hidden;
	}

	.burger-btn {
		padding: 0;
		height: 110px;
		width: 100%;
		background-image: url(@icons/burger-black.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto;
		border: none;
	}

	.burger-btn:hover {
		background-image: url(@icons/burger-white.svg);
	}

	.link-icon {
		display: block;
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto;
		position: unset;
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 1.25em;
	}

	.menu {
		position: absolute;
		top: 0;
		left: -100vw;
		width: 100vw;
		height: 100vh;
		background-color: $gray80;
		padding: 5em 5em 5em 10em;
		visibility: visible;
		transition: all $transitionDuration;
		overflow-y: scroll;
		-ms-overflow-style: none;
  	scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
		@include tablet {
			padding: 2em 1.5em 	5em 1.5em;
		}

		&_active {
			transform: translateX(100vw);
		}

		.close-btn {
			position: sticky;
			margin-left: -140px;
			margin-top: -60px;
			top: -60px;
			width: 21px;
			height: 21px;
			background-image: url(@icons/close.svg);
			background-position: center;
			background-repeat: no-repeat;
			@include tablet {
				display: none;
			}
		}

		ul {
			margin-top: 48px;
			max-width: 486px;
			.link {
				@include regular-24;
				@include tablet {
					@include regular-16;
				}
			}
		}

		@include min_tablet{
			.menu__accordion {
				position: relative;
			}

			.accordion__toggle {
				span {
					@include regular-28;
					color: $gray30;
				}
			}

			.accordion__item_active {
				.accordion__toggle {
					span {
						color: $white;
					}
				}
			}

			.accordion__content {
				position: absolute;
				top: 0;
				left: 486px;
				.link {
					@include regular-18;
				}
			}
		}

		.menu__phone {
			width: fit-content;
			@include regular-22;
			color: $white;
			height: unset;
			margin-top: 3.2em;
			margin-bottom: 0.75em;
		}

		.menu__social {
			margin-top: 0.25em;
			gap: 1em;
			display: flex;

			.link-icon {
				display: flex;
				align-items: center;
				line-height: 0;
				width: 1.5em;
				height: 1.5em;
				position: relative;
			}
		}
	}

	.service-menu {
		position: fixed;
		z-index: -1;
		top: 0;
		left: -47.5em;
		width: 47.5em;
		height: 100vh;
		background-color: $blue50;
		padding: 3em 5.9em 3em 12.8em;
		display: flex;
		flex-direction: column;
		gap: 2.5em;
		transition: all $transitionDuration;
		overflow-y: scroll;
		-ms-overflow-style: none;
  	scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
		@include tablet {
			visibility: visible;
			left: -100vw;
			width: 100vw;
			padding: 1.5em 2em 5em 1.5em;
		}

		&_active {
			transform: translateX(47.5em);
			@include tablet {
				transform: translateX(100vw);
			}
		}

		&_gray {
			background-color: $gray80;
		}

		.link {
			display: flex;
			width: 8em;
		}

		h2 {
			@include medium-36;
			color: $white;
			@include tablet {
				@include medium-24;
			}
		}

		p {
			@include regular-18;
			color: $white;
		}

		img {
			max-width: 40em;
			@include mobile {
				width: 100%;
			}
		}

		&__tabs {
			display: flex;
			align-items: end;
			gap: 32px;

			h2 {
				@include regular-20;
				color: $gray50;
				@include tablet {
					@include regular-16;
				}
				&:hover {
					cursor: pointer;
				}
			}

			.active {
				margin-bottom: -5px;
				@include medium-36;
				color: $white;
				@include tablet {
					@include medium-24;
				}
				&:hover {
				cursor: unset;
				}
			}
		}


		&__form {
			display: none;

			a {
				@include regular-16;
				color: $white;
				text-decoration: underline;
			}

			form {
				display: flex;
				flex-direction: column;
				gap: 28px;

				.checkbox {
					color: $white;
					a {
						color: $white;
						text-decoration: underline;
					}
					.custom-checkbox {
						border: solid 1px $white;
					}
					input[type=checkbox]:checked ~ .custom-checkbox {
						&::before {
							content: url(@icons/checbox-content-white.svg);
						}
					}
				}
			}
		}

		.active {
			display: block;
		}
	}

	.search-menu {
		position: absolute;
		top: 0;
		left: -100vw;
		width: 100vw;
		height: 100vh;
		background-color: $gray80;
		padding: 5em 5em 5em 10em;
		visibility: visible;
		transition: all $transitionDuration;
		overflow-y: scroll;
		-ms-overflow-style: none;
  	scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
		@include tablet {
			padding: 2em 1.5em 	5em 1.5em;
		}

		&_active {
			transform: translateX(100vw);
		}

		.close-btn {
			position: absolute;
			top: 23px;
			left: 23px;
			width: 2.125em;
			height: 2.125em;
			background-image: url(@icons/close.svg);
			@include tablet {
				display: none;
			}
		}

		.top-container {
			display: flex;
			@include desktop_huge {
				flex-direction: column;
			}
		}

		.search-bar {
			margin: 0 0 5em 0;
			border: solid 1px $gray30;
			max-width: 1135px;
			@include tablet {
				padding-right: 1.5em;
			}
			@include desktop_huge {
				margin: 0 0 1em 0;
			}

			input {
				color: $gray30;
				@include tablet {
					padding: 0 1.5em;
				}
			}

			button {
				background-image: url(@icons/search-bar-button-white.svg);
			}
		}

		.select {
			position: relative;
			width: 15.9em;
			height: 4.5em;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-left: 4.2em;
			@include regular-18;
			color: $white;
			@include desktop_huge {
				margin-left: 0;
			}
			@include tablet {
				width: 100%;
			}
			.select-trigger {
				position: relative;
				width: 100%;
				padding: 0.7rem 0.8rem;
				cursor: pointer;
			}

			.select-trigger::after {
				content: url(@icons/chevron-down.svg);
				position: absolute;
				height: 16px;
				bottom: 16px;
				right: 0.8rem;
				transition: transform $transitionDuration ease;
			}

			.select-options {
				position: absolute;
				top: 4.6rem;
				left: 0;
				width: 100%;
				border: solid 1px $gray60;
				z-index: 1;
				display: none;
				background-color: $gray80;

				.select-option {
					position: relative;
					padding: 1em;
				}

				.select-option:hover {
					background-color: $gray60;
				}

				.select-option:not(:last-of-type)::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0.8rem;
					width: calc(100% - 1.6rem);
				}
			}
		}

		.select.isActive {
			.select-options {
				display: block;
			}
			.select-trigger::after {
				transform: rotate(180deg);
			}
		}

		h2 {
			color: $white;
			@include medium-28;
			margin-bottom: 1.7em;
		}

		ul {
			gap: 1em;

			.link {
				display: block;
				width: fit-content;
				height: unset;
			}
		}

	}
}
