.main-directions {
	padding-top: 80px;
	padding-left: 110px;
	background-color: $gray04;

	@include tablet {
		padding-top: 60px;
		padding-bottom: 60px;
		background-color: $white;
	}

	.search-bar {
		margin-left: 100px;
		margin-top: unset;
		width: calc(100% - 200px);

		@include tablet {
			width: 100%;
			margin: 0;
		}

		input::placeholder {
			color: $gray70;
		}
	}


	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin-top: 60px;
		border-top: solid 0.5px $gray10;
		border-bottom: solid 0.5px $gray10;

		@include desktop {
			grid-template-columns: repeat(2, 1fr);
		}

		@include tablet {
			margin-top: 32px;
			grid-template-columns: 1fr;
			border: none;
		}

		&.active .main-directions__card {
			&:nth-child(1n + 10) {
				display: flex;
			}
		}
	}

	&__card {
		padding: 70px 100px;
		min-height: 273px;
		border: solid 0.5px $gray10;
		transition: background-color $transitionDuration;

		@include desktop_large {
			padding: 40px 50px;
		}

		@include tablet {
			background-color: $gray04;
			border: none;
			border-bottom: solid 1px $gray10;
			min-height: 131px;
			padding: 20px 24px;

			&:nth-child(1n + 10) {
				display: none;
			}
		}

		a {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		h3 {
			color: $gray90;
			@include medium-28;
			transition: color $transitionDuration;

			@include tablet {
				@include medium-18;
			}
		}

		.link {
			transition: color $transitionDuration;
			@include regular-16;
		}

		&:hover {
			background-color: $blue50;
			cursor: pointer;

			h3 {
				color: $white;
			}

			.link {
				color: $white;
			}
		}
	}

	&__more a {
		display: none;
		margin-top: 32px;
		text-align: center;

		@include tablet {
			display: inline-block;
		}

		;

		@include mobile {
			width: 100%;
		}
	}
}
