.partners {
	// display: grid;
	// grid-template-columns: repeat(auto-fit, minmax(130px, 223px));
	// gap: 4px;

	h2 {
		margin-top: 0;
	}

	& .swiper-slide {
		width: 224px;
	}

	img {
		width: 100%;
		height: auto;
	}
}