.partnership {
	padding-top: 130px;
	padding-right: 100px;
	padding-bottom: 140px;
	background-color: $white;
	display: grid;
	grid-template-areas:
		"title icons"
		"button icons";
	grid-template-columns: 40% 60%;
	gap: 43px;
	overflow: hidden;

	@include desktop_huge {
		display: block;
	}

	@include tablet {
		padding: 60px 0 0 24px;
	}

	h2 {
		grid-area: title;
		margin-bottom: 144px;

		@include desktop_huge {
			margin-bottom: 32px;
		}

		@include tablet {
			@include medium-24;
			margin: 0 24px 32px 0;
		}
	}

	.btn {
		max-width: 320px;
		grid-area: button;

		@include desktop_huge {
			margin-top: 32px;
		}

		@include tablet {
			margin: 32px 24px 0 0;
		}
	}

	.partnership__icons {
		.swiper-slide {
			border: solid 1px $gray04;
			background-color: $white;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 229px;
			height: 174px !important;
			filter: grayscale(100%);
			transition: filter $transitionDuration;

			img {
				max-width: 200px;
			}

			@include tablet {
				width: 130px;
				height: 98px !important;

				img {
					max-width: 110px;
				}
			}

			&:hover {
				filter: unset;
			}
		}
	}
}
