.profile {
	background-color: $gray80;

	&__tabs {
		display: flex;
		align-items: end;
		gap: 32px;
	}

	&__title {
		@include regular-20;
		color: $gray50;
		@include tablet {
			@include regular-16;
		}
		&:hover {
			cursor: pointer;
		}
		&_active {
			margin-bottom: -5px;
			@include medium-36;
			color: $white;
			@include tablet {
				@include medium-24;
			}
			&:hover {
			cursor: unset;
			}
		}
	}

	&__subtitle {
		@include regular-16;
		color: $white;
	}

	&__form {
		display: none;
		&_active {
			display: block;
		}
		a {
			@include regular-16;
			color: $white;
			text-decoration: underline;
		}
	}

	.btn {
		max-width: unset;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 28px;

		.checkbox {
			color: $white;
			a {
				color: $white;
				text-decoration: underline;
			}
			.custom-checkbox {
				border: solid 1px $white;
			}
			input[type=checkbox]:checked ~ .custom-checkbox {
				&::before {
					content: url(@icons/checbox-content-white.svg);
				}
			}
		}
	}
}
