.programms {
	position: relative;
	@include tablet {
		padding-right: 0;
	}
	.programms__tabs {
		padding: 140px 0 80px 0;
		@include tablet {
			padding: 60px 0 55px 0;
		}

		.swiper-slide {
			max-width: fit-content;
			height: 124px;
			display: flex;
			align-items: flex-end;

			h2 {
				color: $gray30;
				@include regular-36;
			}
			&_active {
				h2 {
					color: $black;
					@include medium-48;
				}
			}

			@include tablet {
				height: 52px;

				h2 {
					@include regular-18;
				}
				&_active {
					h2 {
						color: $black;
						@include medium-20;
					}
				}
			}
		}

		.swiper-scrollbar {
			bottom: 30px;
			background: $blue20;
			@include min_tablet {
				display: none;
			}

			.swiper-scrollbar-drag {
				background: $blue50;
			}
		}
	}

	.programms__cards.swiper {
		position: unset;
	}
	.programms__cards {
		height: auto;
		@include min_tablet {
			margin-left: 320px;
		}

		.swiper-slide {
			max-width: 1138px;
		}

		// маленькие карточки макет до 20.03
		// .swiper-slide {
		// 	padding: 48px;
		// 	width: 440px;
		// 	background-color: $white;
		// 	height: 200px;
		// 	@include tablet {
		// 		width: 282px;
		// 		height: 163px;
		// 		padding: 20px 24px;
		// 	}
		// 	h3 {
		// 		color: $gray90;
		// 		@include medium-20;
		// 		margin-bottom: 31px;
		// 		@include tablet {
		// 			@include medium-18;
		// 		}
		// 	}
		// 	.link {
		// 		@include regular-16;
		// 	}
		// }
		.swiper-button-prev {
			top: 179px;
			left: unset;
			right:220px !important;
			@include desktop_huge {
				display: none;
			}
		}
		.swiper-button-next {
			top: 170px;
			right: 130px !important;
			@include desktop_huge {
				display: none;
			}
		}
	}

	.programms__download {
		width: 320px;
		height: 370px;
		padding: 115px 32px 32px 32px;
		background: url(@images/programms-download-background.png);
		margin-top: 32px;
		@include min_tablet {
			height: 604px;
			position: absolute;
			top: 344px;
			z-index: 1;
			margin: 0;
		}
		h3 {
			@include medium-24;
			color: $white;
			margin-bottom: 269px;
			@include tablet {
				@include medium-20;
				margin-bottom: 74px;
			}
		}

		.btn {
			width: 100%;
		}
	}
}
