.projects {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2px;

	&>* img,
	&>a,
	&>span {
		margin: 0;
	}

	@include desktop_extra_small {
		grid-template-columns: 1fr;
	}

	&__item {
		background-color: $white;
		padding: 48px;
		transition: all $transitionDuration;

		@include desktop_extra_small {
			padding: 24px;
		}

		&:hover {
			background-color: $blue50;
		}
	}

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $gray04;
		padding: 10px;
		max-width: 64px;
		height: 64px;
		margin: 0 0 32px 0;
		transition: all $transitionDuration;

		img {
			width: 100%;
			vertical-align: middle;
		}
	}

	&__item:hover &__logo {
		background-color: $blue30;
	}


	&__title {
		@include medium-18;
		display: block;
		color: $black;
		margin: 0 0 20px 0;
	}

	&__item:hover &__title {
		color: $white;
	}


	&__text {
		@include regular-16;
		line-height: 1.3;
		color: $gray60;
		display: inline-block;
		margin: 0;
	}

	&__item:hover &__text {
		color: $gray04;
	}
}
