.profile {
	background-color: $gray04;
	padding: 158px 48px 48px 395px;
	min-height: 100vh;
	height: 100%;

	h1 {
		color: $black;
		@include regular-36;
		margin-bottom: 60px;
	}

	&__subtitle {
		@include medium-16;
		margin-bottom: 28px;
	}

	form {
		margin-top: 28px;
		width: 706px;
		.input__container {
			margin-bottom: 20px;
			background-color: $white;
			input {
				color: $gray60;
				&::placeholder {
					color: $gray60;
					opacity: 1;
				}
			}
		}
		div {
			display: flex;
			justify-content: space-between;
		}
	}
}
