.profile-menu {
	position: fixed;
	left: 110px;
	bottom: 0;
	height: 100vh;
	width: 237px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	&__wrapper {
		background-color: $gray80;
		height: calc(100vh - 110px);
		padding-bottom: 3.75em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		nav {
			padding-bottom: 130px;
			margin-left: 78px;
			a {
				margin-bottom: 8px;
				width: fit-content;
				@include regular-14;
				color: $gray10;
				position: relative;
			}

			.active {
				@include medium-18;
				color: $white;
				&:hover {
					cursor: unset;
					color: $white;
				}
				&:before {
					content: url(@icons/profile-menu-active.svg);
					position: absolute;
					left: -32px;
					bottom: 4px;
				}
			}
		}

		.profile-menu__exit {
			@include regular-14;
			color: $gray10;
			margin-left: 78px;
			position: absolute;
			bottom: 65px;
		}
	}
}
