.service-menu {
	position: fixed;
	z-index: -1;
	top: 0;
	left: -47.5em;
	width: 47.5em;
	height: 100vh;
	background-color: $blue50;
	padding: 3em 5.9em 3em 12.8em;
	display: flex;
	flex-direction: column;
	gap: 2.5em;
	transition: all $transitionDuration;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
	@include tablet {
		visibility: visible;
		left: -100vw;
		width: 100vw;
		padding: 1.5em 2em 5em 1.5em;
	}

	&_active {
		transform: translateX(47.5em);
		opacity: 1;
		@include tablet {
			transform: translateX(100vw);
		}
	}

	&_gray {
		background-color: $gray80;

		.link:hover {
			color: $gray50;
		}
	}

	.link {
		display: flex;
		width: fit-content;
	}

	h2 {
		@include medium-36;
		color: $white;
		@include tablet {
			@include medium-24;
		}
	}

	p {
		@include regular-18;
		color: $white;
	}

	img {
		max-width: 40em;
		@include mobile {
			width: 100%;
		}
	}

	&__tabs {
		display: flex;
		align-items: end;
		gap: 32px;

		h2 {
			@include regular-20;
			color: $gray50;
			@include tablet {
				@include regular-16;
			}
			&:hover {
				cursor: pointer;
			}
		}

		.active {
			margin-bottom: -5px;
			@include medium-36;
			color: $white;
			@include tablet {
				@include medium-24;
			}
			&:hover {
			cursor: unset;
			}
		}
	}

	&__form {
		display: block;
		#password-recovery-btn {
			@include regular-16;
			color: $white;
			text-decoration: underline;
			width: fit-content;
			cursor: pointer;
		}

		form {
			display: flex;
			flex-direction: column;
			gap: 28px;

			.input__label {
				margin-bottom: 28px;
				color: $white;
			}
		}
	}

	.disabled {
		display: none;
	}
}
