.subscribe {
	padding-top: 32px;
	padding-bottom: 32px;
	padding-right: 130px;
	background-color: $blue50;
	display: flex;
	justify-content: space-between;

	@include tablet {
		flex-direction: column;
		gap: 40px;
	}

	.subscribe__text {
		width: 50%;

		@include tablet {
			width: unset;
		}
	}

	.subscribe__form {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 20px;

		div {
			display: flex;
			gap: 32px;

			.input__container {
				width: 413px;

				@include tablet {
					width: 100%;
				}

				input {
					width: 100%;
					border: solid 1px $white;
				}
			}

			.btn {
				display: flex;
				justify-content: center;
				width: fit-content;
				@include mobile {
					width: 100%;
				}
			}

			@include desktop_huge {
				flex-direction: column;
				gap: 20px;
				align-items: flex-end;
			}
		}

		@include tablet {
			align-items: unset;
		}
	}

	h3 {
		@include medium-24;
		color: $white;
		margin-bottom: 8px;
	}

	p {
		color: $white;
	}
}
