.course-page {
	.page-title {
		margin-top: 200px;
		padding-left: 210px;
		@include desktop_extra_small {
			padding-left: 130px;
		}
		@include tablet {
			margin-top: 44px;
			padding-left: 24px;
			padding-right: 24px;
		}
		h1 {
			@include medium-40;
			@include tablet {
				@include bold-24;
			}
		}
	}
}
