<div class="service-menu profile" id="profile-menu">
	<h4 class="profile__title profile__title_active">Задайте пароль</h4>
	<div class="profile__form profile__form_active password-recovery">
		<form>
			@@include('components/ui/_input-password.html', {label: 'Старый пароль был сброшен. Новый пароль должен быть не менее 6 символов, содержать строчные и заглавные буквы и цифры и отличаться от предыдущего', name: 'password', required: true})
			@@include('components/ui/_input-password.html', {placeholder: 'Повторите пароль', name: 'repeat-password', required: true})
			@@include('components/ui/_button.html', {children: 'Далее', class: 'btn_secondary', type: 'submit'})
		</form>
	</div>
</div>
