<div class="service-menu service-menu_gray" id="profile-access-menu">
	<h2>Задайте пароль</h2>
	<div class="service-menu__form recovery-new-password">
		<form novalidate>
			@@include('components/ui/_input-password.html', {label: 'Старый пароль был сброшен. Новый пароль должен быть не менее 6 символов, содержать строчные и заглавные буквы и цифры и отличаться от предыдущего', errorMessage: 'Придумайте пароль', name: 'password', required: true})
			@@include('components/ui/_input-password.html', {placeholder: 'Повторите пароль', errorMessage: 'Повторите пароль', name: 'repeat-password', required: true})
			@@include('components/ui/_button.html', {children: 'Далее', class: 'btn_secondary', type: 'submit'})
		</form>
	</div>
</div>
