<header id="header" class="header header_mobile@@if (context.class) { @@class}">
	<a href="/" class="logo logo_mobile"></a>
	<div class="header_mobile__right-side">
	<div class="header__personal-account-btn-container">
		<a href="/" class="link link_white"></a>
	</div>
	<div class="burger">
		<button class="burger__button">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<nav class="burger__menu">
			<ul>
				<li><a class="link link_white link_red-hover" href=""></a></li>
				<li><a class="link link_white link_red-hover" href=""></a></li>
				<li><a class="link link_white link_red-hover" href=""></a></li>
			</ul>
		</nav>
	</div>
	</div>
</header>
