<div class="service-menu service-menu_gray" id="request-menu">
	<a class="link close-btn"><span class="link-arrow"></span>Закрыть</a>
	<h2>Заявка на обучение</h2>
	<div class="service-menu__form application">
		<form>
			@@include('components/ui/_input-text.html', {placeholder: 'Наименование организации', name: 'company'})
			@@include('components/ui/_input-text.html', {placeholder: 'ФИО представителя', errorMessage: 'Введите имя представителя', name: 'name', required: true})
			@@include('components/ui/_input-phone.html', {name: 'phone', required: true})
			@@include('components/ui/_input-email.html', {name: 'email', required: true})
			@@include('components/ui/_textarea.html', {placeholder: 'Введите текст комментария', name: 'comment'})
			@@include('components/ui/_checkbox.html', {class: 'checkbox_white', label: 'Я даю свое согласие на <a href="#" target="_blank">обработку моих персональных данных</a>', name: 'agreement', required: true, checked: true})
			@@include('components/ui/_button.html', {children: 'Отправить', class: 'btn_secondary', type: 'submit'})
		</form>
	</div>
</div>
