<section class="banner container" style="background-image: @@if (context.background) {url(@@background)};">
	<div class="banner__text element-animation">
		@@if (context.title) {
			<h2>@@title</h2>
		}
		@@if (context.subtitle) {
			<p>@@subtitle</p>
		}
		@@if (context.button) {
		@@include('components/ui/_button.html', {children: '@@button', class: 'btn_secondary', id: 'learning-plan-request-btn'})
		}
	</div>
	@@if (context.image) {
		<img class="element-animation" src="@@image">
	}
</section>
