<div id="bottom-bar" class="bottom-bar element-animation">
	<a class="link" id="profile" style="background-image: url(@icons/user.svg);"></a>
	<a class="link" id="virtual-reality" style="background-image: url(@icons/VR.svg);"></a>
	<a class="link" id="remote-learning" style="background-image: url(@icons/laptop.svg);"></a>
	<a class="link" id="bottom-search-btn" style="background-image: url(@icons/search.svg);"></a>
	@@include('components/ui/_button.html', {children: '', id:'bottom-burger-btn', class: 'btn_secondary'})
</div>
