<div class="cookie-container">
	@@include('components/ui/_link-icon.html', {class: 'link link-icon_cross cookie-accept'})
	<div class="description">
		Мы используем cookie-файлы, чтобы получить статистику, которая помогает нам улучшить сервис для Вас с целью персонализации сервисов и предложений. Вы можете <a href="#">прочитать подробнее о cookie-файлах</a> или изменить настройки браузера. Продолжая пользоваться сайтом без изменения настроек, вы даёте согласие на использование ваших cookie-файлов.
	</div>
</div>
