<footer>
	<div class="container">
		<div class="footer__columns">
			<div class="footer__column">
				<span>Обучение</span>
				<a href="/" class="link link_secondary">Повышение квалификации</a>
				<a href="/" class="link link_secondary">Профессиональная переподготовка</a>
				<a href="/" class="link link_secondary">Краткосрочное обучение</a>
				<a href="/" class="link link_secondary">Рабочие специальности</a>
				<a href="/" class="link link_secondary">Курсы и семинары</a>
				<a href="/" class="link link_secondary">Стажировка</a>
			</div>
			<div class="footer__column">
				<span>О центре</span>
				<a href="/" class="link link_secondary">О центре</a>
				<a href="/" class="link link_secondary">Сведения об образовательной  организаци</a>
				<a href="/" class="link link_secondary">Отзывы</a>
				<a href="/" class="link link_secondary">Проекты</a>
				<a href="/" class="link link_secondary">Сотрудничество</a>
				<a href="/" class="link link_secondary">Документы</a>
				<a href="/" class="link link_secondary">Новости</a>
				<a href="/" class="link link_secondary">Работа у нас</a>
			</div>
			<div class="footer__column">
				<span>Документы</span>
				<a href="/" class="link link_secondary">Лицензия Cерия 02Л01 № 0004993 от 28 сентября 2015 г., выданная Управлением по контролю и надзору в сфере образования РБ.</a>
				<a href="/" class="link link_secondary">Реквизиты</a>
				<a href="/" class="link link_secondary">Политика обработки персональных данных</a>
			</div>
			<div class="footer__column">
				<span>Контакты</span>
				<a href="/" class="link link_secondary">450008, Республика Башкортостан, город Уфа, улица Цюрупы, 17</a>
				<span>Многоканальный: <a href="tel:88007001152" class="link link_secondary">8-800-700-11-52</a></span>
				<span>Телефон: <a href="tel:+73472009690" class="link link_secondary">+7 (347) 200-96-90</a></span>
				<span>E-mail: <a href="mailto:2511152@mail.ru" class="link link_secondary">2511152@mail.ru</a></span>
				<div class="footer__social">
					<a href="/" target="_blank" class="link link-icon link-icon_vk"></a>
					<a href="/" target="_blank" class="link link-icon link-icon_youtube"></a>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<span>©&nbsp;2023&nbsp;Центр профессиональной подготовки кадров</span>
			<a class="link  link_secondary" target="_blank" href="https://www.wptt.ru">Разработка&nbsp;—&nbsp;Вебпространство</a>
		</div>
	</div>
</footer>
