<header id="header" class="header container@@if (context.class) { @@class}">
	<div id="left-bar" class="left-bar">
		@@include('components/ui/_button.html', {children: '', href: '/', class: 'btn_secondary burger-btn'})
		<ul>
			<li><a class="link" style="background-image: url(@icons/user.svg);" href="/"></a></li>
			<li class="service-menu-link">
				<a class="link" style="background-image: url(@icons/VR.svg);" href="/"></a>
				<div class="service-menu">
					<a class="link" href="/"><span class="link-arrow"></span>Закрыть</a>
					<h2>VR</h2>
					<img src="@images/remote-learning.png">
					<p>VR</p>
						@@include('components/ui/_button.html', {children: 'Подробнее<span class="btn-arrow"></span>', href: '/'})
				</div>
			</li>
			<li class="service-menu-link">
				<a class="link" style="background-image: url(@icons/laptop.svg);" href="/"></a>
				<div class="service-menu">
					<a class="link" href="/"><span class="link-arrow"></span>Закрыть</a>
					<h2>Дистанционное обучение</h2>
					<img src="@images/remote-learning.png">
					<p>Мы поможем Вам учиться в комфортной
						для Вас среде. Вы сможете осваивать новые направления и возможности, совмещая
						с другими видами деятельности</p>
						@@include('components/ui/_button.html', {children: 'Подробнее<span class="btn-arrow"></span>', href: '/'})
				</div>
			</li>
		</ul>
		<ul>
			<li><a class="link" style="background-image: url(@icons/search.svg);" href="/"></a></li>
			<li><a class="link" style="background-image: url(@icons/mail.svg);" href="/"></a></li>
		</ul>
	</div>
	<div id="top-bar" class="top-bar">
		@@include('components/ui/_logo.html')
		<nav>
			<ul>
				<li><a class="link" href="/">Обучение</a></li>
				<li><a class="link" href="/">О&nbsp;центре</a></li>
				<li><a class="link" href="/">Контакты</a></li>
			</ul>
			<ul>
				<li><a class="link link_secondary" href="/">Проекты</a></li>
				<li><a class="link link_secondary" href="/">Сотрудничество</a></li>
				<li><a class="link link_secondary" href="/">Мероприятия</a></li>
				<li><a class="link link-icon link-icon_eye" href="/"></a></li>
			</ul>
		</nav>
		<a class="link link-phone" href="tel:88002332222">8-800-233-22-22</a>
		@@include('components/ui/_link-button.html', {children: 'Оставить&nbsp;заявку', href: '/', class: 'btn_secondary'})
	</div>

</header>
