<div class="service-menu service-menu_gray" id="password-change-menu">
	<a class="link close-btn"><span class="link-arrow"></span>Закрыть</a>
	<h2>Смена пароля</h2>
	<div class="service-menu__form password-change">
		<form novalidate>
			@@include('components/ui/_input-password.html', {placeholder: 'Введите старый пароль', errorMessage: 'Введите старый пароль', name: 'old-password', required: true})
			@@include('components/ui/_input-password.html', {placeholder: 'Введите новый пароль', errorMessage: 'Введите новый пароль', name: 'password', required: true})
			@@include('components/ui/_input-password.html', {placeholder: 'Повторите новый пароль', errorMessage: 'Повторите новый пароль', name: 'repeat-password', required: true})
			@@include('components/ui/_button.html', {children: 'Далее', class: 'btn_secondary', type: 'submit'})
		</form>
	</div>
</div>
