<div class="sub-menu">
	<div class="sub-menu__list">
		<div class="sub-menu__links">
			<div class="sub-menu__toggle">
				<span>О центре</span>
				<div>
					<button class="sub-menu__icon"></button>
				</div>
			</div>
			<div class="sub-menu__content">
				<a href="#" class="link link_secondary link_active">О центре</a>
				<a href="#" class="link link_secondary">История успеха</a>
				<a href="#" class="link link_secondary">Сведения об образовательной организации</a>
				<a href="#" class="link link_secondary">Отзывы</a>
				<a href="#" class="link link_secondary">Проекты</a>
				<a href="#" class="link link_secondary">Сотрудничество</a>
				<a href="#" class="link link_secondary">Документы</a>
				<a href="#" class="link link_secondary">Новости</a>
				<a href="#" class="link link_secondary">Работа у нас</a>
			</div>
		</div>
	</div>
</div>