* {
  @include FontFamilyMontserratRegular;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	line-height: 130%;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: $gray70;
	overflow-x: hidden;
	position: relative;
}

h1 {
  @include regular-64;
	color: $white;
}

h2 {
  @include regular-48;
	color: $black;
}

h3 {

  @include medium-20;
	color: $gray80;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
	cursor: pointer;

	:disabled {
		cursor: default;
	}
}

p {

  font-size: 1.25em;

  @include tablet_small {
    font-size: 1em;
  }

  &.subtitle {

    font-size: 1.5em;

    @include tablet_small {
      font-size: 1.25em;
    }
  }
}

.container {
	width: 100%;
	padding-left: 13.125em;

	@include tablet {
		padding: 0 1.25em;
	}
}


