@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("@fonts/Montserrat-Bold.woff2") format("woff2"), url("@fonts/Montserrat-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@mixin FontFamilyMontserratBold {
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	line-height: 140%;
}

@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("@fonts/Montserrat-Regular.woff2") format("woff2"), url("@fonts/Montserrat-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@mixin FontFamilyMontserratRegular {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	line-height: 140%;
}

@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("@fonts/Montserrat-Medium.woff2") format("woff2"), url("@fonts/Montserrat-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@mixin FontFamilyMontserratMedium {
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	line-height: 140%;
}

@mixin regular-14 {
	font-size: 14px;
	font-weight: 400;
}

@mixin regular-14-uppercase {
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}
@mixin regular-16 {
	font-size: 16px;
	font-weight: 400;
}
@mixin regular-18 {
	font-size: 18px;
	font-weight: 400;
}
@mixin regular-20 {
	font-size: 20px;
	font-weight: 400;
}
@mixin regular-22 {
	font-size: 22px;
	font-weight: 400;
}
@mixin regular-24 {
	font-size: 24px;
	font-weight: 400;
}
@mixin regular-28 {
	font-size: 28px;
	font-weight: 400;
}
@mixin regular-32 {
	font-size: 32px;
	font-weight: 400;
}
@mixin regular-36 {
	font-size: 36px;
	font-weight: 400;
}
@mixin regular-48 {
	font-size: 48px;
	font-weight: 400;
}
@mixin regular-56 {
	font-size: 56px;
	font-weight: 400;
	letter-spacing: 0.02em;
}
@mixin regular-64 {
	font-size: 64px;
	font-weight: 400;
}
@mixin medium-14 {
	font-size: 14px;
	font-weight: 500;
}
@mixin medium-16 {
	font-size: 16px;
	font-weight: 500;
}
@mixin medium-18 {
	font-size: 18px;
	font-weight: 500;
}
@mixin medium-20 {
	font-size: 20px;
	font-weight: 500;
}
@mixin medium-24 {
	font-size: 24px;
	font-weight: 500;
}
@mixin medium-28 {
	font-size: 28px;
	font-weight: 500;
}
@mixin medium-36 {
	font-size: 36px;
	font-weight: 500;
}
@mixin medium-40 {
	font-size: 40px;
	font-weight: 500;
}
@mixin medium-48 {
	font-size: 48px;
	font-weight: 500;
}
@mixin medium-56 {
	font-size: 56px;
	font-weight: 500;
}
@mixin medium-64 {
	font-size: 64px;
	font-weight: 500;
}
@mixin bold-14 {
	font-size: 14px;
	font-weight: 700;
}
@mixin bold-16 {
	font-size: 16px;
	font-weight: 700;
}
@mixin bold-18 {
	font-size: 18px;
	font-weight: 700;
}
@mixin bold-20 {
	font-size: 20px;
	font-weight: 700;
}
@mixin bold-24 {
	font-size: 24px;
	font-weight: 700;
}
@mixin bold-28 {
	font-size: 28px;
	font-weight: 700;
}
@mixin bold-36 {
	font-size: 36px;
	font-weight: 700;
}
@mixin bold-48 {
	font-size: 48px;
	font-weight: 700;
}
@mixin bold-56 {
	font-size: 56px;
	font-weight: 700;
}
@mixin bold-64 {
	font-size: 64px;
	font-weight: 700;
}
@mixin bold-70 {
	font-size: 70px;
	font-weight: 700;
}
@mixin bold-106 {
	font-size: 106px;
	font-weight: 700;
}
