$blue60: #0068A4;
$blue50: #007DC5;
$blue30: #55A8D8;
$blue20: #AAD4EC;
$blue10: #AAD4EC;
$blue04: #E4F1F9;
$white: #ffffff;
$black: #000000;
$gray90: #1A1A1A;
$gray80: #333333;
$gray70: #4D4D4D;
$gray60: #666666;
$gray50: #808080;
$gray40: #999999;
$gray30: #B3B3B3;
$gray20: #CCCCCC;
$gray10: #E5E5E5;
$gray04: #F5F5F5;
$error40: #F65D5D;
$error50: #F20C0C;
$success50: #32D583;


$transitionDuration: .7s;


